<div>
  <div
    class="flex flex-col items-center justify-center min-h-screen py-2 -mt-32 sm:py-12"
  >
    <div
      class="flex flex-col items-center justify-center w-full max-w-md px-4 py-8 space-y-4 text-center bg-white border border-gray-300 rounded-lg shadow-xl"
    >
      <div class="flex flex-col items-center justify-center space-y-2">
        <div class="text-9xl font-bold text-gray-800">404</div>
        <div class="text-2xl font-bold text-gray-800">Page not found</div>
      </div>
      <div class="text-gray-500">
        Sorry, we couldn't find the page you're looking for.
      </div>
      <div class="flex flex-col items-center justify-center space-y-2">
        <a
          href="/"
          class="px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded-md hover:bg-blue-600"
          >Go back home</a
        >
      </div>
    </div>
  </div>
</div>
