<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <div class="close-btn">
      <div>
        <p *ngIf="!post.id" class="text-s font-bold">Add a new post</p>
        <p *ngIf="post.id" class="text-s font-bold">Edit post</p>
      </div>
      <label for="my-modal" class="btn" (click)="toggleIsOpened()">
        <i class="ph-x"></i>
      </label>
    </div>
    <div *ngIf="!post.id">
      <app-add-post [post]="post"></app-add-post>
    </div>
    <div *ngIf="post.id">
      <app-edit-post [post]="post"></app-edit-post>
    </div>
  </div>
</div>
