.post-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .back-button {
    right: 0 !important;
    font-size: 1.3rem;
  }

  .card {
    .card-body {
      .post-title {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .post-title:hover {
        color: #2597fa;
        cursor: pointer;
      }

      .username {
        color: #c9c9c9;
      }
    }
  }
}
